.weapon {
    position: relative;
    display: block;
    height: 100%;
    z-index: 10;
}

.quantity {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    z-index: 20;
    padding: 5px;
    font-weight: bold;
}